body
{
  background-color: grey;
}

p
{
    color: white;
    font-family: Verdana;
    font-size: 14pt;
    font-style: italic;
}
p:hover
{
    background-image: url(white-leather-texture.jpg);
    color: grey;
    font-style: italic;
}
h3.vid
{
    color: black;
    font-size: 56px;
    font-style: italic;
}
